<app-dashboard></app-dashboard>
<div class="register-container">
  <h2>User Registration</h2>
  <form [formGroup]="itemForm" (ngSubmit)="onRegister()">
    <!-- Username -->
    <div class="form-group">
      <label>Username</label>
      <input type="text" formControlName="username" placeholder="Enter username" />

      <div class="error" *ngIf="itemForm.get('username')?.touched && itemForm.get('username')?.invalid">
        Username must be 3–20 characters (letters, numbers, underscore)
      </div>
    </div>
    <!-- Password -->
    <div class="form-group">
      <label>Password</label>
      <input type="password" formControlName="password" placeholder="Enter password" />

      <div class="error" *ngIf="itemForm.get('password')?.touched && itemForm.get('password')?.invalid">
        Password must contain uppercase, lowercase, number & special character
      </div>
    </div>

    <!-- Role -->
    <div class="form-group">
<label>Role</label>
<select formControlName="role">
  <option value="">Select Role</option>

  <!-- ✅ VALUES MUST BE UPPERCASE -->
  <option value="INSTITUTION">Institution</option>
  <option value="EDUCATOR">Educator</option>
  <option value="STUDENT">Student</option>
</select>

<div class="error" *ngIf="itemForm.get('role')?.touched && itemForm.get('role')?.invalid">
  Role is required
</div>

    </div>

    <!-- Email -->
    <div class="form-group">
      <label>Email</label>
      <input type="email" formControlName="email" placeholder="Enter email" />

      <div class="error" *ngIf="itemForm.get('email')?.touched && itemForm.get('email')?.invalid">
        Enter a valid email address
      </div>
    </div>

    <button type="submit">Register</button>

    <div class="success" *ngIf="showMessage">
      {{ responseMessage }}
    </div>

    <div class="login-link">
      Already registered?
      <a routerLink="/login">Login here</a>
    </div>

  </form>

</div>