<app-navbar></app-navbar>
<div class="container">

  <h2>Register For Event</h2>

  <form [formGroup]="itemForm" (ngSubmit)="Submit()">

    <label>Student ID</label>
    <input type="text" formControlName="studentId" placeholder="Example: LTM01" />

    <div class="error" *ngIf="itemForm.get('studentId')?.touched && itemForm.get('studentId')?.errors">
      <div *ngIf="itemForm.get('studentId')?.errors?.['required']">
        Student ID is required
      </div>
      <div *ngIf="itemForm.get('studentId')?.errors?.['pattern']">
        Student ID must be like LTM01, LTM09, LTM90 (starts with LTM + 2 digits)
      </div>
    </div>

    <label>Select Event</label>
    <select formControlName="eventId">
      <option value="">Select Event</option>
      <option *ngFor="let e of eventList" [value]="e.id">
        {{ e.name }} - {{ e.eventDateTime | date:'dd-MMM-yyyy, hh:mm a' }}
      </option>
    </select>

    <div class="error" *ngIf="itemForm.get('eventId')?.touched && itemForm.get('eventId')?.invalid">
      Event selection is required
    </div>

    <!-- <label>Status</label>
    <input type="text" formControlName="status" />

    <div class="error" *ngIf="itemForm.get('status')?.touched && itemForm.get('status')?.invalid">
      Status is required
    </div> -->

    <button type="submit">Register</button>

    <div *ngIf="showError" class="error">{{ errorMessage }}</div>
    <div *ngIf="showMessage" class="success">{{ responseMessage }}</div>

  </form>
</div>
